<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">

    <property name="pattern" value="[%d{HH:mm:ss.SSS}] - %-5level: [%logger{0}.%method:%line] - %msg%n"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>

    <logger name="javax.activation" level="OFF"/>
    <logger name="javax.mail" level="OFF"/>
    <logger name="javax.xml.bind" level="OFF"/>
    <logger name="ch.qos.logback" level="OFF"/>
    <logger name="com.codahale.metrics" level="OFF"/>
    <logger name="com.ryantenney" level="OFF"/>
    <logger name="com.sun.xml.internal.bind" level="OFF"/>
    <logger name="com.zaxxer" level="OFF"/>
    <logger name="io.undertow" level="OFF"/>
    <logger name="net.sf.ehcache" level="OFF"/>
    <logger name="org.apache" level="OFF"/>
    <logger name="org.bson" level="OFF"/>
    <logger name="sun.rmi.transport" level="OFF"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.jboss" level="OFF"/>
    <logger name="org.hibernate.validator" level="ERROR"/>
    <logger name="org.hibernate" level="ERROR"/>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.web" level="ERROR"/>
    <logger name="org.springframework.security" level="ERROR"/>
    <logger name="org.springframework.cache" level="ERROR"/>
    <logger name="org.thymeleaf" level="OFF"/>
    <logger name="org.xnio" level="WOFF"/>
    <logger name="com.mangofactory.swagger" level="ERROR"/>
    <logger name="com.wordnik.swagger" level="ERROR"/>
    <logger name="liquibase" level="ERROR"/>

    <root>
        <level value="DEBUG"/>
        <appender-ref ref="consoleAppender"/>
    </root>
</configuration>